@media screen and (min-width: 901px) and (max-width: 1400px) {
    .myApp{
      width: 40%;
      margin: auto;
      height: 100vh;
      box-shadow: 0 0  5px grey;
      position: fixed;
      overflow-y: scroll;
      left: 30%;
      
    }
    
    
}