@media screen and (min-width: 901px) and (max-width: 1440px) {
    .myApp{
      width: 40%;
      margin: auto;
      height: 100vh;
      position: fixed;
      overflow-y: scroll;
      left: 30%;
      box-shadow: 0 0 10px ;
    } 
}