#header-profil .profil-img-containt{
    width: 106px;
    height: 106px;
    border-radius: 50%;
    border: 4.17px solid #20DF7F;
}
#header-profil .profil-img-containt h1{}
.part1{
    text-align: center;
}
.titre{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    color: #083A50;
}
#header-profil .profil-img-containt p{
    text-align: center;
}
.des{
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    color: #083A50;
}
.Inputs .form-select .select-option{
    background-color: #083A50;
    width: 100px;
    color: white;
}
.Inputs .form-select, .form-control{
    min-width: 350px;
    height: 45px;
    border-radius: 100px;
    border: 2px solid #093545;
    color: #093545;
    outline: none;
}
.form-check-input{
    font-size: 15px;
    border: 1px solid rgb(7, 6, 6);
}
.form-check-input:checked{
    background-color: #093545;
}
.pay-button{
    width: 208px;
    height: 43px;
    top: 633px;
    left: 84px;
    padding: 11px, 17px, 11px, 17px;
    border-radius: 100px;
    gap: 10px;
    font-family: Montserrat;
    font-size: 16.07px;
    font-weight: 700;
    color: #ffffff;
    background-color: #093545;
    border: none;
    box-shadow: 0px 3px 5px grey;

}
.phrag{
    font-family: Lexend Deca;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;

}
.part2{
    text-align: start;
    margin-left: 40px;
    margin-bottom: 30px;
}
.para1{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;

}
.para2{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 30px;

}
.para3{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;

}
.para4{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.para5{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 40px;

}
.part3{
    text-align: start;
    margin-left: 40px;
    margin-bottom: 40px;
}
.btn-form{
    width: 129px;
    height: 43px;
    padding: 11px, 17px, 11px, 17px;
    border-radius: 100px;
    gap: 10px;
    background: #093545;
    color: #FFF;
    margin-top: 25px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}
.checkbox{
    border: 1px solid #093545;
    font-size: 20px;
}


@media screen and (max-width: 375px) {
    .forme{
        width: 98% !important;
    }
    .Inputs{
        width: 100% !important;
    }
    .Inputs .form-select, .form-control{
        min-width: 100%;
    }
}


@media screen and (min-width: 500px) and (max-width: 900px) {
    .forme{
        width: 80% !important;
    }
    .Inputs{
        width: 80% !important;
    }
    .Inputs .form-select, .form-control{
        min-width: 50% !important;
    }
}