.bgblue{
    z-index: 1;
}
@media screen and (max-width: 900px) {
  .footerImg{
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}

@media screen and (min-width: 901px) and (max-width: 1400px) {
    .footerImg{
      width: 40%;
      position: fixed;
      bottom: 0;
    }
}