@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Lexend+Deca&family=Montserrat:wght@700&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300&family=Roboto+Slab:wght@500;600&family=Roboto:wght@500;700&family=Rubik&family=Work+Sans&display=swap');

.title{
    margin-top: 40px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 31.77px;
    line-height: 38.72px;
    color: rgba(9, 53, 69, 1);
}
.wallet{
    font-size: 44px;
    color: rgba(9, 53, 69, 1);
}
.paragIdentif{
    margin-top: 20px;
    font-family: Lexend Deca;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: rgba(9, 53, 69, 1);
}
.paragText{
    margin-top: 30px;
    font-family: Lexend Deca;
    font-size: 16.5px;
    line-height: 20.63px;
    font-weight: 400;
    color: rgba(9, 53, 69, 1);
}
.input{
    background-color: rgba(34, 73, 87, 1);
    height: 45px;
    width: 300px;
    margin-top: 30px !important;
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
}
#motDePasse{
    background-color: rgba(34, 73, 87, 1);
    height: 45px;
    width: 255px;
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    border: none;
    outline: none;
}
.input::placeholder{
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 14px;
}
.password-input-container{
    background-color: rgba(34, 73, 87, 1);
    height: 45px;
    width: 300px;
    margin-top: 30px !important;
    padding-top: 0;
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    border-radius: 100px;
}
#password-toggle-button{
    color: rgb(32, 223, 128);
    background: rgba(34, 73, 87, 1);
    border-radius: 100px;
    height: 35px;
    width: 35px;
    border: none;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
}
.btnIdenti{
    margin-top: 30px;
    background: rgba(32, 223, 127, 1);
    border-radius: 10px;
    width: 300px;
    height: 45px;
    border: none;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    box-shadow: 2px 2px 5px grey;
}

.identif{
    width: 100%;
    height: 100vh;
    position: fixed;
  }

@media screen and (min-width: 901px) and (max-width: 1728px) {
    .identif{
      width: 40%;
      height: 100vh;
      position: fixed;
      left: 30%;
    }
}

/* loading */

.loader {
    width: 80px;
    height: 50px;
    position: relative;
  }
  
  .loader-text {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: #C8B6FF;
    animation: text_713 3.5s ease both infinite;
    font-size: .8rem;
    letter-spacing: 1px;
  }
  
  .load {
    background-color: #9A79FF;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
  }
  
  .load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #D1C2FF;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
  }
  
  @keyframes text_713 {
    0% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  
    40% {
      letter-spacing: 2px;
      transform: translateX(26px);
    }
  
    80% {
      letter-spacing: 1px;
      transform: translateX(32px);
    }
  
    90% {
      letter-spacing: 2px;
      transform: translateX(0px);
    }
  
    100% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading_713 {
    0% {
      width: 16px;
      transform: translateX(0px);
    }
  
    40% {
      width: 100%;
      transform: translateX(0px);
    }
  
    80% {
      width: 16px;
      transform: translateX(64px);
    }
  
    90% {
      width: 100%;
      transform: translateX(0px);
    }
  
    100% {
      width: 16px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading2_713 {
    0% {
      transform: translateX(0px);
      width: 16px;
    }
  
    40% {
      transform: translateX(0%);
      width: 80%;
    }
  
    80% {
      width: 100%;
      transform: translateX(0px);
    }
  
    90% {
      width: 80%;
      transform: translateX(15px);
    }
  
    100% {
      transform: translateX(0px);
      width: 16px;
    }
  }
   
   
  
  
