@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Lexend+Deca&family=Montserrat:wght@700&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300&family=Roboto+Slab:wght@500;600&family=Roboto:wght@500;700&family=Rubik&family=Work+Sans&display=swap');

.title{
    margin-top: 40px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 31.77px;
    line-height: 38.72px;
    color: rgba(9, 53, 69, 1);
}
.wallet{
    font-size: 44px;
    color: rgba(9, 53, 69, 1);
}
.paragIdentif{
    margin-top: 20px;
    font-family: Lexend Deca;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: rgba(9, 53, 69, 1);
}
.paragText{
    margin-top: 30px;
    font-family: Lexend Deca;
    font-size: 16.5px;
    line-height: 20.63px;
    font-weight: 400;
    color: rgba(9, 53, 69, 1);
}
.input{
    background-color: rgba(34, 73, 87, 1);
    height: 45px;
    width: 300px;
    margin-top: 30px !important;
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
}
#motDePasse{
    background-color: rgba(34, 73, 87, 1);
    height: 45px;
    width: 255px;
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    border: none;
    outline: none;
}
.input::placeholder{
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 14px;
}
.password-input-container{
    background-color: rgba(34, 73, 87, 1);
    height: 45px;
    width: 300px;
    margin-top: 30px !important;
    padding-top: 0;
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    border-radius: 100px;
}
#password-toggle-button{
    color: rgb(32, 223, 128);
    background: rgba(34, 73, 87, 1);
    border-radius: 100px;
    height: 35px;
    width: 35px;
    border: none;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
}
.btnIdenti{
    margin-top: 30px;
    background: rgba(32, 223, 127, 1);
    border-radius: 10px;
    width: 300px;
    height: 45px;
    border: none;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    box-shadow: 2px 2px 5px grey;
}

.identif{
    width: 100%;
    height: 100vh;
    position: fixed;
  }

@media screen and (min-width: 901px) and (max-width: 1728px) {
    .identif{
      width: 40%;
      height: 100vh;
      position: fixed;
      left: 30%;
    }
}

/* loading */

.spinner {
    background-image: linear-gradient(rgb(80, 184, 222) 35%,rgba(32, 223, 127, 1));
    width: 50px;
    height: 50px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(74, 182, 221), 0px 5px 20px 0px rgba(32, 223, 127, 1);
  }
  
  .spinner1 {
    background-color: rgba(255, 255, 255, 0.746);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    filter: blur(10px);
  }
  
  @keyframes spinning82341 {
    to {
      transform: rotate(360deg);
    }
  }
