.footer{
    position: absolute;
    bottom: -10px;
    width: 100%;
    border-top: 1px solid grey;
    background-color: rgb(255, 255, 255);
}
.sacDalla,
.plusAdd,
.users,
.setting{
    /* box-shadow: 0px 0px 5px gray; */
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* color: rgba(32, 223, 127, 1); */
}

.sacDalla:hover,
.plusAdd:hover,
.users:hover,
.setting:hover{
    box-shadow: 0px 0px 5px gray;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: rgba(32, 223, 127, 1) !important;
}

.footers{
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media screen and (min-width: 901px) and (max-width: 1400px) {
    .footers{
      width: 40%;
      position: fixed;
      bottom: 0;
    }

    .footer{
        box-shadow: 0px 5px 9px grey;
        padding-bottom: 2px;
    }
}